body{
    background: rgb(159, 195, 211);
    
    
   }
  
  .card-header{
    background-color: rgb(190, 233, 90);
    color: white;
    text-transform: uppercase;
  } 

  .card{
     background: rgb(143, 108, 123);
     background: radial-gradient(circle, rgb(255, 255, 255) 20%, rgb(253, 199, 129) 70%); 
  }

  .card-text{
    text-align: center;
    font-size: 18px;
  }
  
  img{
    border: 1px solid white;
  
  }